.m-dateview {
    position: relative;
    width: 60%;
    height: 100%;
    border-radius: 50px;
    padding: 20px;
    width: 58px;
    z-index: 1;
    background-color: #314a72;

    .linker {
        position: absolute;
        height: 88%;
        top: 41px;
        left: 49px;
        z-index: -1;
        border-left: 1px solid #FFFFFF;
    }

    .m-dates {
        margin-bottom: 20px;

        a {
            display: block;
            color: #FFFFFF;
            padding: 10px;
            text-decoration: none;
            font-size: 11px;
            box-shadow: 0 0 5px #335072;
            background-color: #405e80;
            border-radius: 50px;

            .day {
                margin-left: 13px;
            }

            .month {
                display: inline-block;
                margin-left: 10px;
            }

            .year {
                display: block;
                margin-left: 7px;
            }

            &.active {
                background-color: #f8c255;
            }
        }
    }
}

