.m-dateview {
    width: 60%;
    margin: 0 auto;

    .m-dates {
        width: 92px;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #4169E1;
        border-radius: 50px;

        a {
            display: block;
            padding: 25px 14px;
            width: 60px;
            color: #333;
            text-decoration: none;
            border: 2px solid #4169E1;
            border-radius: 50px;

            .month {
                display: inline-block;
                margin-left: 5px;
            }

            .year {
                display: block;
                margin-left: 12px;
            }

            &.active {
                color: #FFFFFF;
                background-color: #4169FF;
            }
        }
    }
}

