.m-timeview {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    background: #385d8a;

    a {
        display: block;
        background: #2c3c55;
        padding: 10px;
        border-radius: 50px;
        color: #CCCCCC;
        text-align: center;
        font-size: 12px;
        width: 50px;
        margin: 25px auto;
        text-decoration: none;
    }
}

